@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;

@font-face {
    font-family: 'Manrope-Medium';
    src: url(@/assets/fonts/Manrope-Medium.ttf);
  }

  body {
     font-family: Manrope-Medium;
  }
  button {
     cursor: pointer;
  }
  .nav-item:hover {
   background: #0555AB;
   /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    
  }
  .btn-secondary {
     border-color: transparent;
  }
  .btn-secondary:focus {
   border-color: transparent;  
  }
  .nav-item {
   width: 185px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none !important;
  }
  .footer-mobile {
     display: none;
  }
  .yellow-button:hover {
   background: transparent;
   border: 2px solid #FFC800;
   color: #FFC800;
 }
 .button-with-icon:hover {
   background: #FFC800;
   border: 2px solid #0266D1;
   color: #0266D1; 
 }

 .collapsed, .not-collapsed {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px !important;
   background-color: transparent;
   border-radius: 6px !important;
   border: unset;
   text-align: left;
   
   
 }
 
 .not-collapsed {
 font-style: normal;
 font-weight: 700;
 font-size: 20px;
 line-height: 28px;
 color: #0266D1 !important;
 background: transparent !important;
 border: unset;
 
 }
 .opene_collapse {
    margin: 10px 0;
    border: 1px solid #666666;
    border-radius: 6px;
 }
 
 .collapsed {
    color: #666666;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
 
 
 
 }
 .collapse  {
   padding: 0px 20px 20px 20px;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #666666;
 
 }

 .btn-secondary:focus, .btn-secondary:hover {
   box-shadow: unset;
   background: transparent;
   color: #666666;
 }
 .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
 
 background: transparent;
 color: #666666;
 
 
 }
 
 .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
   box-shadow: unset;
   color: #666666;
 }

  @media only screen and (max-width: 460px) {
   .footer-mobile {
      display: block;
      padding: 80px 20px;
   }
   .footer-mobile span {
      margin-left: 10px;
   }
   .footer-desktop {
      display: none;
   }
   .logo-row {
      margin-top: 32px;
      margin-bottom: 32px;
    }
    

  
}
